html{
	overflow-x: auto;
	overflow-y: scroll;
}

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0 8px;
	min-width: 240px;
	font-size: 18px;
	line-height: 1.5;
	tab-size: 4ch;
}

code{
	font-size: 16px;
}

a{
	color: unset;
}
